Instruction.md
compile_upload.sh
build.sh
builddocs.sh
*.sh
update_requirements.sh
.idea/
venv/
conda/outdir/
opm.egg-info/
dist/
build/
#docs/build/
README_private.md
.vscode
**/.DS_Store
.DS_Store
**/__pycache__/
*.fif
imgs/